.hand-divider {
  width: 100%;
  height: 16px;
  background-image: url('/hand-divider.svg');
  background-repeat: repeat-x;
  background-position: center;
  background-size: auto 16px;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
  display: block;
}

[data-theme="dark"] .hand-divider {
  opacity: 0.25;
  filter: brightness(0) invert(1);
}

